<td>
<% if current_user = article.user %>
<img src=<%= article.user.image %> class = "icon_image">
<% end %>
</td>
<td><%= article.user.name %></td>
<td><%= article.title %></td>
<td><%= article.content %></td>
<td>
  <% article.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</td>
<td><%= article.impressions_count %></td>
<% if current_user.liked_by?(article.id) %>
  <td>
    <%= link_to destroy_like_path(article), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= article.likes.count %>
  </td>
<% else %>
  <td>
    <%= link_to create_like_path(article), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= article.likes.count %>
  </td>
<% end %>
<td><%= link_to 'Show', article %></td>
<% if article.user == current_user %>
<td><%= link_to 'Edit', edit_article_path(article) %></td>
<td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
