<td>
<img src=<%= article.user.image %> class = "icon_image">
</td>
<td><%= article.user.name %></td>
<td><%= article.title.truncate(20) %></td>
<td><%= article.content.truncate(30) %></td>
<td>
  <% article.tags.each do |tag| %>
    <i class="fas fa-tags"><%= tag.name %>
  <% end %>
</td>
<td><i class="fas fa-eye"></i><%= article.impressions_count %></td>

<% if current_user.liked_by?(article.id) %>
  <td>
    <%= link_to destroy_like_path(article), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= article.likes.count %>
  </td>
<% else %>
  <td>
    <%= link_to create_like_path(article), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= article.likes.count %>
  </td>
<% end %>
<td>
  <div id="article-<%= article.id %>"><%= render partial: 'stocks/stock_index', locals: { article: article } %></div>
</td>
<td><%= render partial: "articles/follow_form", locals: { user: article.user } %></td>
<%# binding.irb %>
<td><%= link_to '詳細', article, class: 'btn btn-default' %></td>
<% if article.user == current_user %>
<td><%= link_to "", edit_article_path(article), class: "glyphicon glyphicon-edit", title: "編集する" %></td>
<td><%= link_to "", article, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "glyphicon glyphicon-trash delete-icon", title: "削除する" %></td>
<% end %>


 