<% if article.user.image? %>
  <td class="align-middle">
    <img src=<%= article.user.image %> class = "icon_image">
  </td>
<% else %>
  <td class="align-middle">
    <img src="/assets/default.png" class = "icon_image">
  </td>
<% end %>


<td class="align-middle"><%= article.user.name %></td>

<td class="align-middle">  
  <%= link_to((article), class: "article_link") do %>
    <%= article.title.truncate(20) %>
  <% end %>
</td>
<td class="align-middle">
  <%= link_to((article), class: "article_link") do %>
    <%= article.content.truncate(30) %>
  <% end %>
</td>

<td class="align-middle">
  <% article.tags.each do |tag| %>
    <i class="fas fa-tags"><%= tag.name %></i>
    <% if article.tags.count >= 2 %>
      <%= "..." %>
    <% end %>
    <% break %>
  <% end %>
  
</td>
<td class="align-middle"><i class="fas fa-eye"></i><%= article.impressions_count %></td>

<% if current_user.liked_by?(article.id) %>
  <td class="align-middle">
    <%= link_to destroy_like_path(article), class: "like-link", method: :DELETE, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= article.likes.count %>
  </td>
<% else %>
  <td class="align-middle">
    <%= link_to create_like_path(article), class: "like-link", method: :POST, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= article.likes.count %>
  </td>
<% end %>
<td class="align-middle">
  <div id="article-<%= article.id %>"><%= render partial: 'stocks/stock', locals: { article: article } %></div>
</td>

<%# <td> %>
<%#= render partial: "articles/follow_form", locals: { user: article.user } %>
<%# </td>  %>

<%# <td> %>
<%#= link_to '詳細', article, class: 'btn btn-default' %>
<%# </td> %>
<% if article.user == current_user %>
<td class="align-middle"><%= link_to "", edit_article_path(article), class: "glyphicon glyphicon-edit" %></td>
<td class="align-middle"><%= link_to "", article, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "glyphicon glyphicon-trash delete-icon", title: "削除する" %></td>
<% end %>


 