<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="border border-dark">
    <% Tag.all.each do |tag| %>
      <%= form.check_box :tag_ids, { multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false }, tag[:id] %>
      <%= tag.name %>
    <% end %>  
  </div>
  <br>
  <br>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "タイトルを入力してください" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, placeholder: "内容を入力してください（マークダウン記法対応）" %>
  </div>

  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
