
<br>

<div class="container">
  <div class="row">
    <div class="column col-lg-2">
      <div class="rankking">
      <%# <hr> %>
      <h3> HOME </h3>
      <br>
      <% if user_signed_in? %>
        <%= form_with(model: @article, method: :get, local: true, ) do |form| %>
          <%= form.text_field :search_title, placeholder:"記事タイトル検索",  size: "20x60" %>
          <br>
          <br>
          <%= form.submit '検索' , name: 'search', class:"btn btn-warning" %>
        <% end %>
      <% end %>
      <%#= link_to '記事一覧', articles_path, {class: "index_link"} if user_signed_in? %>
      <%# <br> %>
      <%# <br> %>
      <%# <br> %>
      <br>
      <br>
      <%= link_to 'いいねランキング', iine_rank_articles_path, class:"btn btn-outline-primary" if user_signed_in? %>
      <br>
      <br>
      <br>
      <%= link_to 'トレンドライン', trend_line_articles_path, class:"btn btn-outline-primary" if user_signed_in? %>
      <%# <h3> PV数ランキング </h3> %>
      <%# @rank_articles.each do |t| %>
        <%# PV数 %>
        <%#= t.impressions_count %>
      <%# end %>
      <br>
      <br>
      <br>
      <%#= link_to 'ユーザー一覧', users_path if user_signed_in? %>
      <%# <hr> %>
    </div>
    </div>
    <div class="column col-lg-10">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th>icon</th>
            <th>ニックネーム</th>
            <th>Title</th>
            <%# <th>Content</th> %>
            <th> タグ </th>
            <th> 閲覧数 </th>
            <th> いいね </th>
            <th> ストック </th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |article| %>
            <tr id="article_<%= article.id %>">
              <%= render 'article', article: article %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

