<% if @article.user.image? %>
  <td class="align-middle">
    <img src=<%= @article.user.image %> class = "icon_image">
  </td>
<% else %>
  <td class="align-middle">
    <img src="/assets/default.png" class = "icon_image">
  </td>
<% end %>
<br>
<br>
<strong>ニックネーム</strong>
<div class="text-primary">
  <strong><%= @article.user.name %></strong>
</div>
<br>
<br>
<p>
  <strong>Title</strong>
</p>
<div class="show_title">
  <%= @article.title %>
</div>
<br>
<br>
<br>
<p>
  <strong>タグ一覧</strong>
</p>
<div class="show_tag">
   <% @article.tags.each do |tag| %>
    <i class="fas fa-tags"></i><%= tag.name %>
  <% end %>
</div>
<br>
<br>
<br>
<p>
  <strong>Content</strong>
</p>
<div class="show_content">
<p>
  <%= markdown(@article.content) %>
</p>
</div>

<br>
<br>
<p class="impression_rspec">
  <strong>閲覧数</strong>
  <i class="fas fa-eye"></i><%= @article.impressions_count %>
  
</p>
<br>
<div id="article-<%= @article.id %>">
    <%= render partial: 'stocks/stock', locals: { article: @article } %>
</div>
<br>
<br>
<hr width="70%">
<p>コメント一覧</p>

<!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
<div id="comments_area">
  <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
<%= render partial: 'comments/index', locals: { comments: @comments, article: @article } %>
</div>

<!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
<%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>