<%= image_tag '/assets/stock.webp', size: '100x400', class:"card-img-top" %>
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-12">      
        <div class="top_explain">
          <h5>
            <strong>
            <br>
            Market Recordは投資に関する知識を記録・共有するためのサービスです。
            <br>
            <br>
            投資家の皆さんの銘柄選びや、決算書の読み方、売買タイミング、リスク管理など
            <br>
            <br>
            投資に必要なノウハウを共有することができます。
            <br>
            <br>
            知識を共有し、自分の考えを整理することで、
            <br>
            <br>
            再現性のある投資スキルの発見や、金融リテラシーの向上に繋がります。
            <br>
            <br>
            ユーザーの皆さんと一緒に、価値ある情報が集まるコミュニティを創出しましょう。
            </strong>
            <br>
            <br>            
            <hr>
            <br>
            <div class="tops-footer"><%= link_to "Market Recordの使い方", guide_articles_path, class:"btn btn-outline-info" %></div>
          </h5>
        </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">    
    <div class="col-md-12">
      <% if  user_signed_in? %>
        <div>
          <%= link_to " 記事一覧 ", articles_path, class:"btn btn-outline-primary" %>
        </div>
      <% else %>
        <div>
          <%= link_to " アカウント作成 ", new_user_registration_path, class:"btn btn-outline-primary" %>
        </div>
        <br>
        <div>
          <%= link_to " ログインする ", new_user_session_path, class:"btn btn-outline-primary" %>
        </div>
        <br>
        <div>
        <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
        </div>
        <br>
        <div>
        <%= link_to '管理者ゲストログイン', users_guest_admin_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
